.txt_large, .txt_small{
    position: absolute;
    top: 85%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: 'Roboto', verdana;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    
    background: rgba(96, 120, 142, 0.4); 
   /* background: url('assets/images/dotpatterns.png');*/
    border-radius: 50px; 
    border:1px solid rgba(250,250,250,0.5);
    padding: 2px 5px;
}

/*+++++++++++++++++++++++++++++++++++++*/


.diactive_star{
	color: #e2e2e2;
}

	
.active_star{
	color: #ffb703;
}
	

.card_figura{
	background: rgba(200,200,200,0.0);
	box-shadow: none; 
	border: 0px solid #ccc;
	padding-right: 5px; 
 
}

.hold_image_nva_serie{
	margin-left: 25%;
}

.imagen{
		position: absolute;
		width: 45%;
		height: 120%; 
		border: 0px solid #121212; 
		background: rgba(1,1,1,0.0);
		margin: 1px auto;
		left: 50%; 
		margin-left: -25%;
		z-index: 98;
		align-content: center;
		vertical-align: middle;
		text-align: center; 

		
}


.card-title-figura {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #343434;
	text-shadow: none;
	width: 99%;
	text-align: center;
	border: 0px solid #c30;
	left: 50%; 
	margin-left: -25%;
	bottom: 0px;
 
}

.card-text{

position: absolute;
width: 100%; 
left: 50%; 
margin-left: -25%;
padding: 0px;
margin-top: -15px;
display: none;
}
.hold_options{
		position: absolute;
		right: 0px; 
		top: 1px;
		z-index: 100; 
		width: 30px;
		margin-left: 3px; 
		height: auto; 
		border: 0px solid #d3d3d3;
		text-align: right;		
		
		z-index: 99;
		    align-content: center;
    vertical-align: middle;
    text-align: center; 
    border-radius: 30px; 
    padding: 0 0 5px 0;
    
}

.card-body-figura {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	padding: 1.88rem 1.81rem;
	padding: 1.25rem;
    height: 120px;
    z-index: 99;
    
    margin-left: 100%;
}

.numero_item{
		position: absolute; 
		top: 1px;  
		width: 20%;
		height: 20px; 
		text-align: left;
		font-size: 16px; 
		font-family: 'PT Sans Narrow', sans-serif;
		color:#949494; 
		border: 0px solid #c30;
		z-index: 100;
		margin-left: 0px;
		text-align: center; 
		vertical-align: middle;
		align-items: center; 
		
	}


	
.ico-option{
		color: #c9c9c9;
		display: none;
}

.bubble_text{
border-radius: 50px;
padding: 0px 5px;	
font-size: 12px; 
}

	.hover_imagen_effect{

	}
	
	.table_fig{
		position: absolute;
		bottom: 0px; 
		height: 35%;
		width: 100%; 
		border: 0px solid #cf8;
		/*background: url('assets/images/shelf_grisc.png')  no-repeat center; */
	}
	
	.picture{
		bottom: 10px;
				
	}
	
.active_image {
    -webkit-filter: opacity(100%) grayscale(1%) blur(0px);
    filter: opacity(100%) grayscale(1%) blur(0px);
}



.content-wrapper{
	background: #f1f1f1;
}


/*.  nuevos. */



.item_dec{
	display: none; 
}

.prompt_item{
	display: none; 
}

.star_item{
	display: none; 
}

.stat{
	display: none; 
}

.prompt_item{
	display: none;
}

.txt_large{
	font-size: 18px; 
}


.txt_small{
	font-size: 16px; 
}

.active_trophy{
	color: rgba(245, 180, 12, 0.96);
	
}

.diactive_trophy{
	color: rgba(108, 108, 108, 0.01); 
	
}


/* ---------------------------- Mosaico de Series ------------------------------*/

.card_body_main{
	margin-left: 10%;
	height: 120px;
	z-index: 99;
	border: 0px solid #aaa;
}

.complete{
		background: url('assets/wimages/cover_minimal.png') -20px -20px no-repeat 	; 
}

.tematica{
		background: url('assets/wimages/cover_sombra.png') -20px -20px no-repeat 	; 
}

.shelf_card{
	border:none; 
	border-bottom: 1px solid #004033;
	box-shadow: none;
}

.hold_ico_card{
	position: absolute; 
	right: 10px; 
	bottom: 20px; 
	z-index: 99999; 
	border: 0px solid #c30;
	width: 40%; 
	height: 10%; 
	border-radius: 0 5px 5px 0; 
	background: rgba(220,220,220, 0.0);
	text-align: right;
	
}


.ico_col_personal{
	color: #fff; 
	margin: 1px; 
	z-index: 90;
	background: rgba(88, 130, 144, 0.77);
	background: rgba(0, 192, 154, 0.95); 
	/*background: #c2c2c2;*/
	border-radius: 30px; 
	padding:3px;
	font-size: 20px; 
	cursor: help;
	
background: #34ABCF;
background: -webkit-linear-gradient(to bottom right, #34ABCF 29%, #0047A3 86%);
background: -moz-linear-gradient(to bottom right, #34ABCF 29%, #0047A3 86%);
background: linear-gradient(to bottom right, #34ABCF 29%, #0047A3 86%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;



}

.ico_mant{
	color: #fff; 
	margin: 1px; 
	z-index: 90;
	background: rgba(255, 103, 161, 0.96);
	/*background: #c2c2c2;*/
	border-radius: 30px; 
	padding: 3px;
	font-size: 20px; 
	cursor: help;
	
	background: #CF5B86;
background: -webkit-linear-gradient(to bottom right, #CF5B86 29%, #9D98A3 86%);
background: -moz-linear-gradient(to bottom right, #CF5B86 29%, #9D98A3 86%);
background: linear-gradient(to bottom right, #CF5B86 29%, #9D98A3 86%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

.ico_premium{
	color: #fff; 
	margin: 1px; 
	z-index: 90;
	background: rgba(255, 103, 161, 0.96);
	/*background: #c2c2c2;*/
	border-radius: 30px; 
	padding: 3px;
	font-size: 20px; 
	cursor: help;
	
background: #7C63F7;
background: -webkit-linear-gradient(to bottom right, #7C63F7 0%, #4A317D 100%);
background: -moz-linear-gradient(to bottom right, #7C63F7 0%, #4A317D 100%);
background: linear-gradient(to bottom right, #7C63F7 0%, #4A317D 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.ico_premium_desc{
	color: #fff; 
	margin: 1px; 
	z-index: 90;
	background: rgba(255, 103, 161, 0.96);
	/*background: #c2c2c2;*/
	border-radius: 30px; 
	padding: 3px;
	font-size: 20px; 
	cursor: help;
	
background: #CF4444;
background: -webkit-linear-gradient(to bottom right, #CF4444 0%, #A6110E 100%);
background: -moz-linear-gradient(to bottom right, #CF4444 0%, #A6110E 100%);
background: linear-gradient(to bottom right, #CF4444 0%, #A6110E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.ico_teaser{

	color: #fff; 
	margin: 1px; 
	z-index: 90;
	background: #c82222;
	border-radius: 30px; 
	padding: 3px;
	font-size: 20px; 
	cursor: help;
	
	background: #CF5757;
background: -webkit-linear-gradient(to bottom right, #CF5757 0%, #A32B28 100%);
background: -moz-linear-gradient(to bottom right, #CF5757 0%, #A32B28 100%);
background: linear-gradient(to bottom right, #CF5757 0%, #A32B28 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

.ico_hide{
	color: #fff;
	margin: 1px;
	z-index: 99;
	background:rgba(40, 40, 40, 0.46); 
	/*background: #c2c2c2;*/
	border-radius:30px; 
	padding: 3px;
	font-size: 20px; 
	cursor: help;
	
background: #EBEBEB;
background: -webkit-linear-gradient(to bottom right, #EBEBEB 29%, #9E9E9E 68%);
background: -moz-linear-gradient(to bottom right, #EBEBEB 29%, #9E9E9E 68%);
background: linear-gradient(to bottom right, #EBEBEB 29%, #9E9E9E 68%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;



}

.ico_test{
	color: #fff; 
	margin: 1px; 
	z-index: 90;
	background: rgba(255, 103, 161, 0.96);
	/*background: #c2c2c2;*/
	border-radius: 30px; 
	padding: 3px;
	font-size: 20px; 
	cursor: help;
	
background: #F78502;
background: -webkit-linear-gradient(to bottom right, #F78502 0%, #A33F05 100%);
background: -moz-linear-gradient(to bottom right, #F78502 0%, #A33F05 100%);
background: linear-gradient(to bottom right, #F78502 0%, #A33F05 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

.trophy_minimal{

background: #E3A90B;
background: -webkit-linear-gradient(to bottom right, #E3A90B 0%, #BA6B04 100%);
background: -moz-linear-gradient(to bottom right, #E3A90B 0%, #BA6B04 100%);
background: linear-gradient(to bottom right, #E3A90B 0%, #BA6B04 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.num_card{
	position: absolute; 
	right: 10px; 
	top: 10px;
	color: rgba(200,200,200,0.15);
	z-index: 99; 
	border: 0px solid rgba(230,230,230,0.4);
	border-radius: 30px; 
	font-size: 88px; 
	font-family: 'Roboto', sans-serif;
    font-weight: 100;
	
}

.text-adv{
	color:#fff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
    font-weight: 200;
        letter-spacing: 2px;
}

code{
	color: #CF5757;
}

.hover_imagen{
	width: 100%;
	border: 0px solid #c30;
	z-index: 200px;
}
	.hover_imagen_main{
		z-index: 85;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 100%;
		/*background: url('assets/images/cover_minimal.png') -20px -20px no-repeat 	; */
		left:0px;
		right: 0px;
		bottom: 0px; 
		border-radius: 5px 5px 5px 5px; 
		border: 0px solid #c40;
	}
	
	.hold_bg_conf{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 80;
		right: 0px; 
		bottom: 0px;
		border-radius: 3px 3px 3px 3px;
		max-height: 100%;
		right: 0px;
		border: 0px solid #a30; 
		top: 0px; 
		border: 0px solid #c30; 		
	}

	.back_color_main{
		position: absolute;
		width: 100%;
		z-index: 80;
		bottom: 0px;
		border-radius: 3px 3px 3px 3px;
		height: 100%;
		max-height: 100%; 
	}
	

	
.imagen_main{
		position: absolute;
		float: left;
		width: 35%;
		height: 99%; 
		border: 0px solid #121212; 
		background: rgba(1,1,1,0.0);
		margin-left: 0px; 
		left: 1px;
		margin-right: 1px;
		top: 0px;
		z-index: 98;
		display: none; 
		
}



	
.star_collection_main{
	position: absolute; 
	width: 100%; 
	margin-left: 20%; 
	left: -10%; 
	top: 20%;
	border: 0px solid #c30; 
	text-align: center;
	display: none;
}

	.degrade{
		height: 100%; 
		z-index: 98; 
		background: rgba(250,250,250,0.8);
		background:linear-gradient(155deg, rgba(10,10,10,0.6 ) 10%, rgba(10,10,10,0.6 ) 90%);

	}



.align-left-min{
	margin-left: -5%; 
}

.align-left-max{
	margin-left: -5%; 
}

.align-left-row{
	margin-left: -0.5%;
}

.bg_theme{
	display: block;
	height: 100%;
}

.title_card_mosaico{
	font-family: 'Kanit', sans-serif;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-family: 'Signika', sans-serif;
	font-family: 'Cuprum', sans-serif;
	margin-bottom: 0px;
	font-size: 30px; 
	font-weight: 600;
	color: rgba(250,250,250,0.9);
	
	background: #383838;
background: -webkit-linear-gradient(to bottom right, rgba(240,240,240,0.9) 29%, rgba(255,255,255,0.9) 86%);
background: -moz-linear-gradient(to bottom right, rgba(240,240,240,0.9) 29%, rgba(255,255,255,0.9) 86%);
background: linear-gradient(to bottom right, rgba(240,240,240,0.9) 29%, rgba(255,255,255,0.9) 86%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

text-transform: capitalize;
color: linear-gradient(to bottom right, rgba(250,250,250,0.8) 29%, rgba(250,250,250,0.9) 68%);
}

.bg_color_degradado{
	display: none;
}

.bg_imagen_portada{
		left: 0px;
		top: 0px;
		bottom: 0px; 
		right: 0px; 
		position: absolute;
		border-radius: 5px;
		display: block;
		height: 100%; 
		width: 100%; 
}

.imagen_serie{
	display: block;
	bottom: 0px;
	
}

.image_portada{

	border: 0px solid #c30;
	text-align: right;
	float: right;
	max-height: 80%;
    max-width: 80%;	
    
    position: absolute;
    bottom: 5px;
    right: 10px; 
}




.blocked{
	filter: brightness(0.10);
}

.unblocked{
	filter: brightness(1);
}


.link{
	color: #f4f4f4;
}

.text_link{
	font-size: 16px;
	color: #fff;
	/*padding: 5px 10px; */
	border:0px solid #fff;
	border-radius: 5px;
	/*
background: #32C99C;
background: -webkit-linear-gradient(to bottom right, #32C99C 29%, #0DC99E 68%);
background: -moz-linear-gradient(to bottom right, #32C99C 29%, #0DC99E 68%);
background: linear-gradient(to bottom right, #32C99C 29%, #0DC99E 68%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;*/

color: rgba(250,250,250,0.5);
}

a.text_link:hover{
	color: #f9f9f9;
}

.card-title_b{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.ico_link{
	display: none; 
}

.subname_main{
		font-family: 'Cuprum', sans-serif;
		font-family: 'Roboto', sans-serif;
		font-size: 20px; 
		font-weight: 200;
		letter-spacing: 2px;
		margin-top: -10px; 
}

.conteo_minimal{
	display: block;
	color: rgba(250,250,250,0.5);
	font-size: 12px; 
	margin-top: -5px;
	letter-spacing: 1px;
	font-weight: 400;
	
	
}

.bubble_text_bg{
border-radius: 3px;
padding: 3px 8px;
font-size: 14px; 
text-align: left; 
line-height: 11px; 
margin:  1px; 
color: #fff;
background: rgba(220, 72, 72, 0.97);
}

